* {
    box-sizing: border-box;
}
:root {
    --default-color:#444444;
    --background-color: #ffffff;
    --default-font:""Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"";
    --nav-hover-color:#3498db;
    --nav-font:""poppins", sans-serif";
    --nav-link-color-rgb:rgb(13,110,253);
    --heading-color:#222222;
    --heading-font:""Raleway",sans-serif";
    --accent-color:#3498db;
    --contrast-color:#ffffff;
    --nav-color:#444444;
}
body{
    margin: 0;
    color:var(--default-color);
    font-family: var(--default-font);
}
.header {
    color:var(--default-color);
    background-color: var(--background-color);
    padding: 15px 0;
    transition: all 0.5s;
    z-index: 997;
}
.align-items-center {
    align-items: center !important;
}
.d-flex {
    display:flex !important;
}
.sticky-top {
    position:sticky;
    top: 0;
}
.position-relative {
    position: relative !important;
}
.header .logo {
    height: 60px;
    width: 110px;
}
.me-auto {
    margin-right: auto !important;
}
.navmenu {
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.navmenu li {
    position: relative;
}
.navmenu .active  {
    color: var(--nav-hover-color);
}
.navmenu a:focus {
        color: var(--default-color);
        padding: 10px 20px;
        font-family: var(--nav-font);
        font-size: 17px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        transition: 0.3s;
}
.navmenu li a {
    text-decoration: none;
    padding: 18px 15px;
    font-size: 16px;
    font-family: var(--nav-font);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
    color: #444444;
}
.navmenu a i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    transition: 0.3s;
}
i {
    font-style: italic;
}
.mobile-nav-toggle i {
    background: var(--accent-color);
    color:var(--contrast-color);
    font-size: 24px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
#check {
    display: none;
}
@media (max-width: 640px) {
    .mobile-nav-toggle {
        display: block;
        order: 1;
        margin-right: 20px;
    }
    ul{
        position: fixed;
        top: 80px;
        right: -200%;
        background-color: rgb(216, 233, 227);
        width:100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
        margin:0;
    }
   ul li a {
        font-size: 20px;
        
      }
    
    #check:checked ~ ul {
        right: 0;
      }
}
@media (max-width: 640px){
    .nav-tabs {
        display:none;
    }
}
@media (min-width: 641px){
    .mobile-nav-toggle {
        display: none;
    }
}
@media (min-width: 641px){
    .nav-tabs {
        display: block;
    }    
}
.navmenu a:hover {
    color: green;
}
.navmenu  a.active {
    color:blue;
}
main {
    display: block;
}
.home h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color:var(--heading-color);
    font-family: var(--heading-font);
}
.home p {
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    margin: 5px 0 20px 0;
    font-size: 22px;
    font-weight: 400;
}
.justify-content-center {
    justify-content: center !important;
}
.home .btn-get-started {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display:inline-block;
    padding: 10px 36px;
    border-radius: 50px;
    transition: 0.3s;
    border: 2px solid var(--accent-color);
    text-decoration: none;
}
.home .animation {
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: both;
    animation-play-state: running;
    animation-name: up-down ;
    transform-origin: 50% 50%;
    
}
@keyframes up-down {
    0% {
        transform: translate(1px, 20px);
    }
    24% {
        transform: translate(1px, 30px);
    }
    50% {
        transform: translate(1px, 12px);
    }
    74% {
        transform: translate(1px, 22px);
    }
    100% {
        transform: translate(1px, 22px);
    }
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}

.clients {
    padding: 20px 0;
}
section, .section {
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 60px 0;
    scroll-margin-top: 90px;
    overflow: clip;
}
.light-background {
    --background-color: #f4fafd;
    --surface-color: #ffffff;
}
.clients .client-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.clients .client-logo img {
    padding: 20px 40px;
    max-width: 90%;
    transition: 0.3s;
    opacity: 0.5;
    filter: grayscale(100);
}
.clients .client-logo img:hover {
    filter:none;
    opacity: 1;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: var(--heading-color);
    font-family: var(--heading-font);
}
.section-title h2:before {
    margin: 0 15px 10px 0;
}
.section-title h2:before, .section-title h2:after {
    content: "";
    width: 50px;
    height: 2px;
    background: var(--accent-color);
    display: inline-block;
}
.section-title h2:after {
    margin: 0 0 10px 15px
}
.section-title p {
    margin-bottom: 0;
    text-align: center;
}

.overview .content h3 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 20px;
    color:var(--accent-color);
    font-family: var(--heading-font);
}
.overview .content p {
    margin-bottom: 30px;
}

.overview .content .about-btn {
    padding: 8px 30px 9px 30px;
    color: var(--accent-color);
    border-radius: 50px;
    transition: 0.3s;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    display: inline-flex;
    align-items: center;
    border: 2px solid var(--accent-color);
    text-decoration: none;
}
.overview .icon-box i {
    background: var(--accent-color);
    color:var(--contrast-color);
    font-size: 24px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.overview .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: var(--heading-color);
    font-family: var(--heading-font);
}
.overview .icon-box h6 {
    font-size: 17px;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: var(--accent-color);
    font-family: var(--heading-font);
}
.overview .icon-box p {
    font-size: 15px;
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    margin-bottom: 0;
}

.stats .stats-item {
    padding: 10px;
}
.stats .stats-item i {
    font-size: 44px;
    color: var(--accent-color);
    line-height: 0;
    margin-right: 15px;
}
.flex-shrink-0 {
    flex-shrink: 0 !important;
}
.stats .stats-item .purecounter {
    color: var(--heading-color);
    font-size: 43px;
    display: block;
    font-weight: 700;
    line-height: 40px;
}
.stats .stats-item p {
    color:color-mix(in srgb, var(--default-color), transparent 40%);
    padding: 15px 0 0 0;
    margin: 0;
    font-family: var(--heading-font);
    font-size: 14px;
}
.stats .stats-item p span{
    font-size: 15px;
    color:#222222
}
strong{
    font-weight: bolder;
    font-size: 23px;
    color:rgb(241, 140, 140);
}

.services .service-item{
    background-color: var(--surface-color);
    box-shadow: 0px 0 30px 0 rgba(0,00,0.1);
    padding: 50px 30px;
    transition: all ease-in-out 0.4s;
    height: 100%;
    overflow:hidden;
    z-index: 1;
    margin: 25px;
    border-radius: 10px;
}
.services .service-item:before {
    content:"";
    position: absolute;
    background: color-mix(in srgb, var(--accent-color), transparent 88%);
    right: -80px;
    top: -80px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: all 0.3s;
    z-index: -1;
}
.services .service-item:after {
    content:"";
    position: absolute;
    background: color-mix(in srgb, var(--accent-color), transparent 88%);
    right: -140px;
    top: -140px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transition: all 0.3s;
    z-index: -1;
}
.services .service-item li {
    font-size: 15px;
    font-style: italic;
}
.services .service-item i {
    background: var(--accent-color);
    color:var(--contrast-color);
    font-size: 24px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.services .service-item h4 {
    font-weight: 600;
    margin: 15px 10px 10px 10px;
    transition: 0.3s;
    font-size: 25px;
    color:var(--default-color);
    font-family: var(--heading-font);
}
.services .service-item h5{
    font-weight: 600;
    margin: 15px 0 0 0;
    transition: 0.3s;
    font-size: 25px;
    color:var(--accent-color);
    font-family: var(--heading-font);
}
.services .service-item p {
    line-height: 24px;
    font-size: 14px;
    margin: 10px 0 0 0;
}

.products .img{
    border-radius: 15px;
    overflow: hidden;
    margin-top: 20px;
}
.products .img img {
    transition: 0.6s;
}
.products .service-item:hover .img img {
    transform: scale(1.2);
}
.products .details {
    background: white;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding: 30px;
    margin:0;
    transition: all ease-in-out 0.3s;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0 25px rgba(0,0,0,0.1);
}
.products .details h6 {
    font-weight: 700;
    margin: 10px 0 15px 0;
    font-size: 22px;
    transition: ease-in-out 0.3s;
    color:var(--accent-color);
    font-family: var(--heading-font);
}
.products .details p{
    color:color-mix(in srgb, var(--default-color), transparent 10%);
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0
}

.benefits-item{
    background-color: var(--surface-color);
    display: flex;
    align-items: center;
    padding: 20px;
    transition: 0.3s;
    margin: 20px;
    border: 2px solid color-mix(in srgb, var(--default-color), transparent 90%);
    position: relative;
}
.benefits .benefits-item h3 {
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 16px;
    color: var(--accent-color);
    font-family: var(--heading-font);
}

.solutions .solution-item{
    background-color: rgb(242, 242, 214);
    padding:15px;
    transition: all ease-in-out 0.4s;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    margin: 25px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.solutions .solution-item:before {
    content:"";
    position: absolute;
    background: color-mix(in srgb, var(--accent-color), transparent 88%);
    left: -80px;
    bottom: -80px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: all 0.3s;
    z-index: -1;
}
.solutions .solution-item:after {
    content:"";
    position: absolute;
    background: color-mix(in srgb, var(--accent-color), transparent 88%);
    left: -140px;
    bottom: -140px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transition: all 0.3s;
    z-index: -1;
}
.solutions .solution-item li {
    font-size: 15px;
    font-style: italic;
}
.solutions .solution-item h4 {
    font-weight: 600;
    margin: 15px 10px 10px 10px;
    transition: 0.3s;
    font-size: 25px;
    color:var(--accent-color);
    font-family: var(--heading-font);
}
.solutions .solution-item p {
    line-height: 24px;
    font-size: 14px;
    margin: 10px 0 0 0;
}
.alliances .alliance-item h4{
    font-weight: 600;
    margin: 15px 10px 10px 10px;
    margin-top: 20px;
    transition: 0.3s;
    font-size: 25px;
    color:var(--accent-color);
    font-family: var(--heading-font);
}
.alliances .alliance-item p{
    line-height: 24px;
    font-size: 14px;
    margin: 10px 0 0 0;
}

.ethics .ethics-item {
    padding:15px;
    background-color:peachpuff;
    transition: all ease-in-out 0.4s;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    margin: 25px;
    border-radius: 10px;
}
.ethics .ethics-item h4{
    font-weight: 600;
    margin: 15px 10px 10px 10px;
    margin-top: 20px;
    transition: 0.3s;
    font-size: 25px;
    color:var(--accent-color);
    font-family: var(--heading-font);
}
.ethics .ethics-item p{
    line-height: 24px;
    font-size: 14px;
    margin: 10px 0 0 0;
}

.card{
    border:none;
}

.user-content p{
    margin-top:5px;
    font-size:12px;
    color:color-mix(in srgb, var(--default-color), transparent 10%);
    line-height: 24px;
}
.user-content h5{
    font-weight: 600;
    margin: 15px 10px 10px 10px;
    margin-top: 20px;
    transition: 0.3s;
    font-size: 25px;
    color:var(--accent-color);
    font-family: var(--heading-font);
}
.user-content span{
    color:rgb(236, 3, 3);
}
.ratings i{
    color:blue;
}

.contact {
    background-image: url(/images/contact.png);
    background-position: left center;
    background-repeat: no-repeat;
    position:relative;
    padding: 25px;
    margin-top: 10px;
}
.contact:before {
    content: "";
    background: color-mix(in srgb,#f4fafd, transparent 30%);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.contact .info-item i{
    background: #3498db;
    color:#ffffff;
    font-size: 20px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
}
.contact .info-item h3 {
    padding: 0;
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 10px;
    color: rgb(225, 14, 95);
}
.contact .info-item p {
    padding: 0;
    margin-bottom: 10px;
    font-size: 14px;
    color:blue;
}
label{
    color:rgba(1, 0, 0, 0.844);
    font-weight: bolder;
}
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #d51616; 
    border-radius: 4px; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .footer {
    color: var(--default-color);
    background-color: lightblue;
    font-size: 14px;
    padding: 40px 0;
    position: relative;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}
.px-1 {
    padding-right: .25rem !important;
    padding-left: .25rem !important;
}
strong{
    font-weight: bolder;
}
.footer .copyright p {
    margin-bottom: 0;
}
.footer .social-links {
    margin-top: 20px;
}
.footer .social-links a {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 50%);
    font-size: 16px;
    color:color-mix(in srgb, var(--default-color), transparent 50%);
    margin: 0 5px;
    transition: 0.3s;
}
    













